.tContainer
	width 100%
	.tMainHeader
		position fixed
		left 0
		top 0
		z-index 1000
		width 100%
		height 50px
		line-height 30px
		box-sizing border-box
		padding 10px 10px
		display flex
		justify-content space-around
		background-color #ffffff
		border-bottom 1px solid #dedede
		.tmhFind
			margin-left 50px
			span
				font-size 14px
				color #d2d2d2
				vertical-align middle
			.find
				color red
				font-size 20px
				font-weight 700
				margin-right 18px
	.tab
		position fixed
		left 0
		top 50px
		z-index 100
		width 100%
		height 46px
		line-height 46px
		background-color #ffffff
		.tabLists
			display flex
			float left
			white-space nowrap
			.tabItem
				float left
				font-size 16px
				margin-right 22px
				margin-left 5px
				color #000
