.cdContent {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}
.cdContent .swiperPic {
  width: 100%;
}
.cdContent .cdWrap {
  width: 100%;
}
.cdContent .cdWrap .wrapList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cdContent .cdWrap .wrapList .wrapItem {
  width: 32%;
  margin-bottom: 10px;
}
.cdContent .cdWrap .wrapList .wrapItem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cdContent .cdWrap .wrapList .wrapItem a img {
  width: 100%;
}
.cdContent .cdWrap .wrapList .wrapItem a .text {
  font-size: 12px;
  color: #000;
}
