.shopCartContainer
	width 100%
	.scHeader
		width 100%
		.headerTop
			width 100%
			height 40px
			line-height 40px
			box-sizing border-box
			padding 0 10px
			background-color #ffffff
			display flex
			justify-content space-between
			div
				font-size 20px
			a
				font-size 18px
				color #f00
		.headerBottom
			width 100%
			box-sizing border-box
			padding 0 10px
			background-color #eeeeee
			.hbList
				width 100%
				height 40px
				line-height 40px
				display flex
				justify-content space-between
				a
					color #666
/* 背景图 */
.scContent
	position relative
	width 100%
	height 520px
	background-color #f4f4f4
	.bcBtn
		width 100%
		position absolute
		left 50%
		top 50%
		transform translate(-30%, -50%)
		display flex
		flex-direction column
		justify-content: center
		.bcImg
			width 222px
			height 222px
			background-image url('./images/backImage.png')
		.scButton
			width 222px
			height 40px
			line-height: 40px
			text-align: center
			color: #ffffff
			font-size 16px
			background-color: #b4282d
