.tdComent
	width 100%
	height 300px
	padding: 96px 0 52px
	/* 内容评论 */
	.tdComment
		width 100%
		padding-top 96px
		.tdComentBigPic
			width 100%
			background-color #ffffff
			box-sizing border-box
			padding 10px
			img
				width 100%
		.selectWomen
			width 100%
			box-sizing border-box
			padding 10px
			background-color #ffffff
			.selectTop
				width 100%
				display flex
				align-items center
				.selectBigPic
					border-radius 50%
					width 30px
					height 30px
				span
					color #000000
					margin-left 10px
					font-size 16px
			.selectContent
				font-size 20px
				margin-top 10px
				color #000000
				overflow hidden
				// text-overflow: ellipsis
			.selectBG
				margin-top 10px
				img
					width 100%
					height 200px
			.selectLook
				display flex
				align-items center
				i
					font-size 25px
				span
					margin-left 5px
					font-size 18px
	/* 评论 */
	.userComment
		width 100%
		box-sizing border-box
		padding 15px
		background-color #ffffff
		li
			width 100%
			display: flex
			.commentLeft
				width 60%
				background-color #ffffff
				.userPicText
					width 100%
					display flex
					align-items center
					img
						width 30px
						height 30px
						border-radius 50%
					span
						font-size 18px
						margin-left 10px
				.userContent
					margin-top 10px
					font-size 20px
				.userSuggest
					margin-top 8px
					font-size 16px
					color #c0c0c0
				.userLook
					margin-top 15px
					display flex
					align-items center
					i
						font-size 25px
					span
						margin-left 5px
						font-size 18px
			/* 评论右侧 */
			.commentRight
				width 40%
				img
					width 100%
					height 120px
					border-radius: 5px
